body{
  padding: 5vh 10vw;
}
header div{
  display: flex;
  align-items: flex-end;
}
header div section:nth-child(1){
  line-height: 0.5vh;
  flex: 3;
}
header div section:nth-child(2){
  line-height: 0.5vh;
  flex: 1;
  text-align: right;
}
header h1{
  font-size: 8vh;
  line-height: 3vh;
}
.des h4{
  font-weight: 100;
}
main article{
  display: flex;
  align-items: flex-start;
}
main article div:first-child{
  flex:1;
}
main article div:nth-child(2){
  flex:4;
}
