
body{
  padding: 0 3vw;
}
header div{
  display: flex;
  align-items: flex-end;
}
header div section:nth-child(1){
  line-height: 0.5vh;
  flex: 3;
}
header div section:nth-child(2){
  line-height: 0.5vh;
  flex: 1;
}
header h1{
  font-size: 8vh;
  line-height: 3vh;
  margin-bottom: 7vh;
}
header h3{
  margin-bottom: 4vh;
}
/* --------------- description ---------------- */
.des h4{
  font-weight: 100;
  margin: 2vh 0 4vh 0;
}

/* --------------- main ---------------- */
main article{
  display: flex;
  align-items: flex-start;
}
main article div:first-child{
  flex:1;
}
main article div:nth-child(2){
  flex:3;
}
/* --------------- exp  ---------------- */
.exp{
  margin-top: 2vh;
}
.exp article div:first-child{
  margin-left: -25px;
  margin-right: 25px;
}
.exp article div:nth-child(2) h5{
  font-weight: 300;
  margin-bottom: 3px;
  font-size: 15px;
  line-height: 0;
}
.exp article ul {
  margin-top: 2px 0;
  padding-top: 0;
}
.exp article h5:first-child{
  font-weight: 600;
  line-height: 10px;
  font-size: 14px;
}
.exp article h5:nth-child(2){
  font-weight: 200;
  font-size: 14px;
}
.exp article h5{
  font-weight: 100;
  font-size: 13px;
  margin: 1px 0;
}
.exp h4{
  margin: 1px 0;
}
.exp article div li{
  line-height: 20px;
}
/* --------------- ref ---------------- */
.ref h5{
  margin: 0;
  font-weight: 100;
}
.ref{
  margin-top: -5px;
}
